.top{
    width: 100%;
    height: 50px;
    background-color:white;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    font-family:  'Josefin Sans', sans-serif;
}
.topleft,.topright{
    flex: 3;
}
.topicon{
    font-size: 20px;
    margin-right: 10px;
    color: #444;
    cursor: pointer;
}
.topcenter{
    flex: 6;
}
.toplist{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.toplistitem{
    margin-right: 20px;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer;
}
.topsearchicon{
    margin-left: 10px;
    font-size: 18px;
    cursor: pointer;
}